.error-msg {
    color: red;
    font-size: 0.9em;
    margin-left: 8px;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    padding: 20px;
}

input {
    margin-bottom: 5px;
}

button {
    margin-top: 10px;
}

label {
    display: block;
    font-size: 0.8em;
    margin-bottom: 2px;
}
